apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: log-collector
  labels:
    app: log-collector
spec:
  selector:
    matchLabels:
      app: log-collector
  template:
    metadata:
      labels:
        app: log-collector
    spec:
      containers:
      - name: log-collector
        image: log-collector:1.0
        resources:
          requests:
            memory: '50Mi'
            cpu: '100m'
          limits:
            memory: '100Mi'
            cpu: '200m'
        volumeMounts:
        - name: varlog
          mountPath: /var/log
      volumes:
      - name: varlog
        hostPath:
          path: /var/log/test
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1