apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: default
  labels:
    app: api
spec:
  type: ClusterIP
  selector:
    app: api
  ports:
    - name: http
      port: 5000        # порт сервиса
      targetPort: 5000 # порт контейнера (или имя порта)